@function r($values...) {
  @return rem($values...);
}
@function rem($values...) {
  @if not $output_rem {
    @return cleanup($values...);
  }
  
  $base_font_size: 16px !default;
  
  $all_rem: ();
  $separator: list-separator($values);
  @each $value in $values {
    $rem: ();
    @if type-of($value) == list {
      // List: process each value on its own
      $rem: append($rem, rem($value...), $separator);
    } @else if is_zero($value) {
      // Zero: enforce no units
      $rem: append($rem, 0, $separator);
    } @else if is_convertible($value) {
      // Pixel-like units: calculate rem value from $base_font_size
      $base_font_value: strip_units($base_font_size);
      $rem_value: strip_units($value / $base_font_value);
      $rem: append($rem, #{$rem_value}rem, $separator);
    } @else {
      // Unitless and non-pixel units: pass through unmodified
      $rem: append($rem, $value, $separator);
    }
    $all_rem: append($all_rem, $rem, $separator);
  }
  @return $all_rem;
}


@function rr($values...) {
  @return rem_round($values...);
}
@function rem_round($values...) {
  $round: round_px($values...);
  @return rem($round...);
}


@function strip_units($num) {
  @return $num / (($num * 0) + 1);
}
@function is_zero($value) {
  @return
    type-of($value) == number
    and strip_units($value) == 0;
}
@function is_convertible($value) {
  $px_units: 'px', 'pt';
  @return
    type-of($value) == number
    and not unitless($value)
    and index($px_units, unit($value));
}
@function round_px($values...) {
  $all_round: ();
  $separator: list-separator($values);
  @each $value in $values {
    $round: ();
    @if type-of($value) == list {
      // List: process each value on its own
      $round: append($round, round_px($value...), $separator);
    } @else if is_convertible($value) {
      // Pixel-like units: round
      $round: append($round, round($value), $separator);
    } @else {
      // Unitless and non-pixel units: pass through unmodified
      $round: append($round, $value, $separator);
    }
    $all_round: append($all_round, $round, $separator);
  }
  @return $all_round;
}
@function cleanup($values...) {
  $all_clean: ();
  $separator: list-separator($values);
  @each $value in $values {
    $clean: ();
    @if type-of($value) == list {
      // List: process each value on its own
      $clean: append($clean, cleanup($value...), $separator);
    } @else if is_zero($value) {
      // Zero: enforce no units
      $clean: append($clean, 0, $separator);
    } @else {
      // Non-zero: pass through unmodified
      $clean: append($clean, $value, $separator);
    }
    $all_clean: append($all_clean, $clean, $separator);
  }
  @return $all_clean;
}
