@mixin rem($properties, $original_values...) {
  @if type-of($properties) == map {
    @each $key in map-keys($properties) {
      @include rem($key, map-get($properties, $key)...);
    }
  } @else {
    $output_px: true !default;
    $output_rem: true !default;
    $base_font_size: 16px !default;
    
    $property: $properties;
    $non_rounding_properties: 'font-size', 'letter-spacing', 'word-spacing';
    
    $all_px_values: cleanup($original_values...);
    @if not index($non_rounding_properties, $property) {
      $all_px_values: round_px($all_px_values...);
    }
    $all_rem_values: rem($all_px_values...);
    
    @if
      $output_px and not $output_rem
      or (
        $output_px and $output_rem
        and $all_px_values != $all_rem_values
      )
    {
      #{$property}: $all_px_values;
    }
    @if $output_rem or not $output_px {
      #{$property}: $all_rem_values;
    }
  }
}


@mixin rem_round($original_values...) {
  $round_values: round_px($original_values...);
  @include rem($round_values...);
}
