@mixin rem($property, $values...) {
  @if type-of($property) == map {
    @each $key in map-keys($property) {
      @include rem($key, map-get($property, $key)...);
    }
  } @else {
    $output_px: true !default;
    $output_rem: true !default;
    $base_font_size: 16px !default;
    $non_rounding_properties: 'font-size', 'letter-spacing', 'word-spacing';
    
    $all_px: cleanup($values...);
    @if not index($non_rounding_properties, $property) {
      $all_px: round_px($all_px...);
    }
    $all_rem: rem($all_px...);
    
    @if
      $output_px and not $output_rem
      or (
        $output_px and $output_rem
        and $all_px != $all_rem
      )
    {
      #{$property}: $all_px;
    }
    @if $output_rem or not $output_px {
      #{$property}: $all_rem;
    }
  }
}


@mixin rem_round($values...) {
  $round: round_px($values...);
  @include rem($round...);
}
